<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Coding Template</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

  <div id="app">
    <h1>String manipulations</h1>
    <div>
      <input v-model="input" placeholder="Tekst">

      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>To Upper</option>
        <option>To Lower</option>
      </select>

      <button @click="justDoIt">Do It!</button>
    </div>
    <div v-if="hasContent">
      <p>
        {{result}}
      </p>
    </div>
  </div>

  <script src="bundle.js"></script>
</body>

</html>